@model IEnumerable<CodingOnCountry.Models.Camp>

@{
    ViewData["Title"] = "Coding on Country";
}
    <environment include="Development">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/all.min.css" />
        <link rel="stylesheet" href="~/css/modal.css" />
        <link rel="stylesheet" href="../css/slideshow.css">

        <script src="~/js/gallery.js"></script>
        <script src="~/js/script.js"></script>
        <script src="~/js/slideshow.js"></script>
    </environment>

@functions
{
    public int campIdNum = 0;
    public string GetGalleryID()
    {
        if (campIdNum < 9)
            return "gallery_00" + campIdNum;
        else if (campIdNum < 99)
            return "gallery_0" + campIdNum;
        else if (campIdNum < 999)
            return "gallery_" + campIdNum;
        return "gallery_00" + campIdNum;
    }

    public void IncrementCampID()
    {
        campIdNum++;
    }

    public void ResetCampID()
    {
        campIdNum = 0;
    }

}
<body>

    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!-- HEADER SECTION ///////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!-- Navigation Bar ///////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class="mobNav">
        <a id="menu" onclick="openMenu()">menu</a>
        <a id="close" onclick="closeMenu()">close</a>
    </div>

    <div class="navbar" id="mob">
        <a href="#home" onclick="closeMenu()">Home</a>
        <a href="#camps" onclick="closeMenu()">Camps</a>
        <a href="#challenges" onclick="closeMenu()">Challenges</a>
    </div>

    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#camps">Camps</a>
        <a href="#challenges">Challenges</a>
    </div>




    <!-- Warning Bar //////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class="warning" id="warning">
        <p><b>Warning:</b> Aboriginal and Torres Strait Islander viewers are warned that this site may contain images and voices of deceased persons.</p>
        <a class="warning_close" onclick="closeWarning()">X</a>
    </div>


    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!-- HOME/HERO SECTION ////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!-- Home / Main //////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class="hero-image" id="home">
        <div class="heroContent">
            <h1>Coding on Country</h1>
            <p>Bringing community, country and coding together.</p>
            <a href="#home-info" class="btn">Read More</a>
        </div>
    </div>


    <!-- Home - About Section /////////////////////////////////////////////////////////////////////////////////////////////-->

    <div id="home-info">
        <iframe id="home-video" src="https://www.youtube.com/embed/8ukWYBMH-zI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="home-video-info">
            <h3>About</h3>
            <p>RANDOM PLACEHOLDER Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolor alias reprehenderit, ad, voluptatibus praesentium laudantium architecto mollitia tempora minus nihil perferendis harum doloribus labore.</p>
        </div>
    </div>

   
   
   

    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <!-- CAMP GALLERY SECTION /////////////////////////////////////////////////////////////////////////////////////////////-->
    <!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <div class="container" id="camps">

        <!-- Recent Camps /////////////////////////////////////////////////////////////////////////////////////////////////////-->
        <div id="recentCamps">

            <!-- Title Section ------------------------------------------------------------->

            <header class="campHeader">
                <h2 class="minorHeader">Past Camps</h2>
                <h2>Recent Camps</h2>
                <h2 class="minorHeader">Upcoming Camps</h2>
            </header>


            <!-- Blog List ----------------------------------------------------------------->

            <div class="blogContainer" id="recentContainer">

                @foreach (var item in Model)
                {
                    <div class="singleBlog">
                        <div class="campContent">
                            <div class="blogHead">
                                <h3> @Html.DisplayFor(modelItem => item.Name) </h3>
                                <h4> @Html.DisplayFor(modelItem => item.CampAddress) |  @Html.DisplayFor(modelItem => item.CampCommunity) </h4>
                                <p class="blogDate">@Html.DisplayFor(modelItem => item.CampDate) </p>
                            </div> <!-- /blogHead -->
                            <div>
                                <p class="blogText">Starts at: @Html.DisplayFor(modelItem => item.CampStartTime)</p> <!-- Camp Description -->
                                <p class="blogText">Ends at: @Html.DisplayFor(modelItem => item.CampEndTime)</p>
                            </div>

                            <a href="#camps" class="btn blogLink" onclick="selectGallery(); gallerySelect('@GetGalleryID()')"> View Gallery </a> <!-- Insert gallery ID (Replace 'gallery_001', must have single quotes) -->

                        </div><!-- /campContent -->
                    </div> <!-- /singleBlog -->

                    IncrementCampID();
                }
                @{
                    ResetCampID();
                }


            </div><!-- /blogContainer -->

            <!-- Galleries ----------------------------------------------------------------->
            <div id="localGalleries">
                <div class="singleBlog">
                    <div class="campContent">
                        <div class="blogHead">
                            <h3> ss </h3>
                            <h4>ss |  ss </h4>
                            <p class="blogDate">ss </p>
                        </div> <!-- /blogHead -->
                        <div>
                            <p class="blogText">Starts at: ss</p> <!-- Camp Description -->
                            <p class="blogText">Ends at:ss</p>
                        </div>

                        <a href="#camps" class="btn blogLink" onclick="selectGallery(); gallerySelect('@GetGalleryID()')"> View Gallery </a> <!-- Insert gallery ID (Replace 'gallery_001', must have single quotes) -->

                    </div><!-- /campContent -->
                </div> <!-- /singleBlog -->
                <div id="slideshow">
                    <div id="slides">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">
                        <img src="~\\uploads\\1010.jpg" class="slideImage">

                    </div>
                    <button id="left" onclick="iterate(-1); blurInput('left');"><img src="../imgs/prev.png"></button>
                    <button id="right" onclick="iterate(1); blurInput('right');"><img src="../imgs/next.png"></button>
                    <button id="closeShow" onclick="closeShow(); blurInput('closeShow');">CLOSE</a>

                </div>
            </div>


            <!-- External Galleries -------------------------->
            <div id="linkedGalleries">
                @foreach (var item in Model)
                {
                    <div class="individualGallery" id="@GetGalleryID()">
                        <a href="#camps" class="mobileBack" onclick="revertGallery(); galleryDeselect('@GetGalleryID()')"> &lt Back</a>
                        <a href="#camps" class="baseButton backButton" onclick="revertGallery(); galleryDeselect('@GetGalleryID()')">Back</a>
                        <div class="galleryMain fbGallery">
                            <div class="campDetails">
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                <p> @Html.DisplayFor(modelItem => item.Description) </p>

                            </div><!-- /campDetails -->
                            <iframe src="@Html.DisplayFor(modelItem => item.EmbededFacebookAlbumLink)" width="500" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" class="fbFrame"></iframe>
                        </div>
                    </div>
                    IncrementCampID();
                }
                @{
                    ResetCampID();
                }




            </div> <!-- /linkedGalleries -->



        </div> <!-- /recentCamps -->










        <div id="pastCamps">
            <header class="campHeader">
                <h2>Past Camps</h2>
                <h2 class="minorHeader">Recent Camps</h2>
                <h2 class="minorHeader">Upcoming Camps</h2>
            </header>

            <p>Section Not Yet Implemented</p>

        </div>




        <div id="upcomingCamps">

            <header class="campHeader">
                <h2 class="minorHeader">Past Camps</h2>
                <h2 class="minorHeader">Recent Camps</h2>
                <h2>Upcoming Camps</h2>
            </header>

            <p> Section Not Yet Implemented</p>

        </div>

    </div><!-- /camps -->
</body>






<!-- Temp camp edit page button. -->
<footer>

    <div id="fbFooter">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTest-for-Uni-113133820057510%2F&tabs&width=400&height=70&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="400" height="72" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" class="fbFooterFrame"></iframe>
        <p> Some more information </br> to do with help </br> or contact </br> or website developers... </p>

    </div>
    <button id="adminAccess" onclick="window.location.href='/camps'"> > Admin Access</button>
</footer>

<div id="rawCampList">
    @foreach (var item in Model)
    {
        <br />
        <br />
        <div>
            @Html.DisplayFor(modelItem => item.Name)
            <br />
            @Html.DisplayFor(modelItem => item.Description)
            <br />
            @Html.DisplayFor(modelItem => item.CampCommunity)
            <br />
            @Html.DisplayFor(modelItem => item.CampAddress)
            <br />
            @Html.DisplayFor(modelItem => item.EmbededFacebookAlbumLink)
            <br />
            @Html.DisplayFor(modelItem => item.CampDate)
            <br />
            @Html.DisplayFor(modelItem => item.CampStartTime)
            <br />
            @Html.DisplayFor(modelItem => item.CampEndTime)
        </div>
    }
</div>