@model IEnumerable<CodingOnCountry.Models.Camp>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.Name)

        @Html.DisplayFor(modelItem => item.Description)

        @Html.DisplayFor(modelItem => item.CampCommunity)

        @Html.DisplayFor(modelItem => item.CampAddress)

        @Html.DisplayFor(modelItem => item.EmbededFacebookAlbumLink)

        @Html.DisplayFor(modelItem => item.CampDate)

        @Html.DisplayFor(modelItem => item.CampStartTime)

        @Html.DisplayFor(modelItem => item.CampEndTime)
    </div>
    <p></p>
    
}
