@model IEnumerable<CodingOnCountry.Models.Camp>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Temp camp edit page button. -->
<br />
<br />
<button onclick="window.location.href='/camps'">View Camps [ADMIN]</button>
<br />
<br />
@foreach (var item in Model)
{
    <br />
    <br />
    <div>
        @Html.DisplayFor(modelItem => item.Name)
        <br />
        @Html.DisplayFor(modelItem => item.Description)
        <br />
        @Html.DisplayFor(modelItem => item.CampCommunity)
        <br />
        @Html.DisplayFor(modelItem => item.CampAddress)
        <br />
        @Html.DisplayFor(modelItem => item.EmbededFacebookAlbumLink)
        <br />
        @Html.DisplayFor(modelItem => item.CampDate)
        <br />
        @Html.DisplayFor(modelItem => item.CampStartTime)
        <br />
        @Html.DisplayFor(modelItem => item.CampEndTime)
    </div>
}
