@model CodingOnCountry.Models.Camp

@{
    ViewData["Title"] = "Details";
}

<environment include="Development">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/modal.css" />
    <link rel="stylesheet" href="../css/slideshow.css">

    <script src="~/js/gallery.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/slideshow.js"></script>
</environment>

<h1>Details</h1>

<div>
    <h4>Camp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampCommunity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampCommunity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbededFacebookAlbumLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbededFacebookAlbumLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampEndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
